.tweetHolder {
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  border-top: 1px solid #e1e8ed;
  width: 588px;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.tweetEntry {
  border-bottom: 1px solid #e1e8ed;
  min-height: 51px;
  padding: 9px 12px;
}

.content {
  display: block;
  font-size: 14px;
  margin-left: 58px;
  font-size: 14px;
}

.header {
  color: #8899a6;
  padding: 0px;
  text-decoration: none;
  line-height: 20px;
}

.avatar {
  float: left;
  height: 48px;
  width: 48px;
  margin-left: -58px;
  margin-right: 13px;
  border-radius: 5px;
}

.fullname {
  font-weight: bold;
  font-size: 14px;
  margin-right: 3px;
  color: #292f33;
  padding: 0px;
}

.username {
  font-weight: bold;
  font-size: 14px;
  margin-right: 3px;
  color: #b1bbc3;
  padding: 0px;
}

.timestamp {
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
}

.twit-text {
  font-size: 14px;
  color: #292f33;
  line-height: 18px;
}
